* {

	font-family: Verdana;
}


.nav {
	padding-top: 0.2%;
	padding-bottom: 0.6%;
}

#testo{

	font-size:18px;
	padding-bottom: 1%;
	padding-left: 0.6%;
}



#testo3 {

	font-size:18px;
	padding-left: 0.6%;
	padding-top: 1.1%;	
}


.jumbotron {


	background-color: #2A2D30;
}

.jumbotron p {

	color: #868D96;
	text-align: center;
}

h5 {

	color: orange;
	text-align: center;
}

#orange {

	background-color: orange;
	height: 260px;
	margin-top: -30px;
}

#orange p {

	text-align: center;
	color: white;
	font-size: 20px;
	padding: 1%;
	margin-top: 12%;
	font-weight: bold;

}

footer {

	height: 50px;
	background-color: #2A2D30;
	margin-top: 1.1%;

}

#sotto p {
	color: #868D96;
	text-align: center;
	padding-top: 1.2%;
}

#form {

	margin-top: 7.5%;
	margin-bottom: 2.5%;
	margin-left: 7%;
	display: inline-block;
}

.formfield * {

    vertical-align: middle;
}


#invia {
	
	margin-left: 33%;

}


#reset {

	margin-left: 8%;
}














