* {

	font-family: Verdana;
}


.nav {
	padding-top: 3px;
	padding-bottom: 8px;
}

#testo{

	font-size:18px;
	padding-bottom:10px;
	padding-left: 5px;
}



#testo3 {

	font-size:18px;
	padding-left: 5px;
	padding-top: 15px;	
}


.jumbotron {


	background-color: #2A2D30;
}

.jumbotron p {

	color: #868D96;
	text-align: center;
}

h5 {

	color: orange;
	text-align: center;
}

#orange {

	background-color: orange;
	height: 260px;
	margin-top: -30px;
}

#orange p {

	text-align: center;
	color: white;
	font-size: 20px;
	padding: 12px;
	margin-top: 35px;
	font-weight: bold;

}

footer {

	height: 50px;
	background-color: #2A2D30;
	margin-top: 15px;

}

#sotto p {
	color: #868D96;
	text-align: center;
	padding-top: 17px;
}

#form {

	margin-top: 32px;
	margin-bottom: 22px;
	margin-left: 30px;
	display: inline-block;
}

.formfield * {

    vertical-align: middle;
}


#invia {
	
	margin-left: 88px;

}


#reset {

	margin-left: 80px;
}














